/* .question-page-body {
    background-color: #FFE3A0;
    width: 80%;
    height: auto;
    padding: 50px;
    box-shadow: 5px 5px 5px lightblue;
    margin: auto;
} */

#question-list-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.question-preview {
    border: 1px solid black;
}